 html {
   scroll-behavior: smooth;
 }
 
 
 body {
    margin: 0 ;
    font-family: 'Inter', sans-serif;
 }
 

 header {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   box-sizing: border-box;
   background-image: url(./img/header-back.png); 
   height: 100vh;
   border: 1px solid #000;
   padding: 64px 120px;
   background-position: center;
   background-repeat: no-repeat ;
   background-size:cover;
 }

 .header__logo {
    display: flex;
    justify-content: space-between;
 }

 .header__text {
    font-weight: 800;
    font-style: italic;
    letter-spacing: -1.5px;
    font-size: 48px;
    line-height: 48px;
    color: #292929;
    margin-bottom: 64px;
    
 }

 .header-bottom {
    margin-top: 444px;
 }


 .menu {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    box-sizing: border-box;
    background-color: #E8EFF9; 
    height: 100vh;
    border: 1px solid #000;
    padding: 64px 120px;
    background-repeat: no-repeat ;
    background-size:cover;
  }

  .burger__logo {
    display: flex;
    justify-content: space-between;
 }

.burger__menu {
   display: flex;
   flex-direction: column;
   /* gap:32px */
}

 .nav__link {
    color: #292929;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 64px;
    text-decoration: none;
    

 }


 .recommended {
   margin-top: 120px;
   color: #292929;
   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: -1.5px;
 }


.staff {
   margin: 64px 120px;
   display: flex;
   justify-content: center;
   
}

.first__staff , .second__staff {
   margin-right: 24px;
   flex-direction: column;
}

.name__staff {
   color: #292929;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
}

.type {
   color: #292929;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%;
}

.price {
   color: #292929;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
}

.browse {
color: #292929;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: -1.5px;
margin-top: 120px;
}

.category {
   display: flex;
   justify-content: center;

}

.category__title {
color: #292929;
font-style: normal;
font-weight: 700;
line-height: 140%;

}

.first__category {
   margin: 64px 120px;


}

.second__category {
   margin: 0px 120px 64px 120px;
   justify-content: center;

}

.third__category {
   margin: 0px 120px 120px 120px;

}

.img-mar {
   margin-right: 24px;
}



 footer{
   background: url(./img/footer.png);
   height: 590px;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat ;
   background-size:cover;
   display: flex;
   box-sizing: border-box;
 }